.contact_page img {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    max-width: 8%;
    height: auto;
}

.contact_page nav ul {
    position: absolute;
    top: 15px;
    right: 10px;
}

.contact_page nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.contact_page nav li.not-current {
    color:#DC9ABC;

}
.contact_page nav li.current {
    color: #C1457E;
}