* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
}

.light-pink {
  color: #dc9abc;
}

#active {
  color: #c1457e;
}

.heading-story {
  text-align: center;
  color: #c1457e
}

.heading-why {
  color: #c1457e;
  text-align: center;
  margin-top: 20px;

}

.form-container {
  border: 2px solid rgba(220, 154, 188, .4);
  background-color: rgba(217, 217, 217, .1);
}

.contact-header {
  color: #C1457E;
}

#form-header {
  color: rgba(193,69,126,.7);
}

#submitBtn {
  background-color: #DC9ABC;
  color: white;
  border: #DC9ABC;
}

h2 {
  font-size: 20;
}

.about-body, .pick-choices, .linkedin {
  font-family: 'inter'; font-size: 18px;
}

.about-p, .linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-choose {
  display: flex;
  justify-content: center;
  align-items: center;

}

ol.pick-choices {
  justify-content: center;
  align-items: center;

}


.linkedin {
  margin-top: 50px;
}

#align-footer-text {
    text-align: center;
}